Repository Canoe-Finance/Rangers-DeFi-Plugin-SDK: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# EXAMPLE USAGE
# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint --fix {staged_files}
    stylelint:
      glob: '*.{css,scss,sass}'
      run: yarn stylelint --fix {staged_files}
    prettier:
      glob: '*.{js,ts,tsx,css,scss,sass,json,yml}'
      run: yarn prettier --write {staged_files}

Add file, add expanded animation
  .eslintrc.json
  .gitignore
  README.md
  src/abi/dodoABI.json
  src/abi/metaDexABI.json
  src/api/ethereum/index.js
  src/api/ethers/utils.js
  src/app/index.scss
  src/app/index.tsx
  src/components.d.ts
  src/components/main/header/index.tsx
  src/components/main/index.tsx
  src/config.ts
  src/index.html
  src/lib/chainInfo.js
  src/lib/chains.js
  src/styles/tailwind.scss
  src/tokens/default.json
  src/tokens/tokenlist-bsc.json
  src/tokens/tokenlist-eth.json
  src/tokens/tokenlist-matic.json
  src/utils/func.js
  src/utils/storage.js
  src/xy-ui/components/xy-icon.js
Due: eslint, stylelint, prettier

feat: token select
  README.md
  docs/image/metadex.gif
  src/api/axios/index.ts
  src/api/axios/url.ts
  src/app/index.scss
  src/app/index.tsx
  src/assets/icon/icon.png
  src/components.d.ts
  src/components/common/MyTab/index.scss
  src/components/common/MyTab/index.tsx
  src/components/main/chart/index.scss
  src/components/main/chart/index.tsx
  src/components/main/index.tsx
  src/components/main/price/index.tsx
  src/components/main/rank/index.tsx
  src/components/main/swap/SwapBox/DealStatusBox/index.tsx
  src/components/main/swap/SwapBox/SwapInput/index.scss
  src/components/main/swap/SwapBox/SwapInput/index.tsx
  src/components/main/swap/SwapBox/index.scss
  src/components/main/swap/SwapBox/index.tsx
  src/components/main/swap/index.scss
  src/components/main/swap/index.tsx
  src/components/mini/chart/index.scss
  src/components/mini/chart/index.tsx
  src/components/mini/index.scss
  src/components/mini/index.tsx
  src/interface.ts
  src/store/index.ts
  src/styles/common.scss
  src/styles/variables.scss
Due: eslint, stylelint, prettier

feat: swap
  Dockerfile
  package.json
  src/abi/erc20ABI.json
  src/abi/sendCoinABI.json
  src/api/axios/index.ts
  src/api/axios/url.ts
  src/api/ethers/dodo.js
  src/api/ethers/index.js
  src/api/ethers/token.js
  src/api/ethers/utils.js
  src/components.d.ts
  src/components/common/BottomButton/index.scss
  src/components/common/BottomButton/index.tsx
  src/components/common/MyTab/index.scss
  src/components/common/MyTab/index.tsx
  src/components/main/swap/SwapBox/DealStatusBox/index.tsx
  src/components/main/swap/SwapBox/RouterPath/index.scss
  src/components/main/swap/SwapBox/RouterPath/index.tsx
  src/components/main/swap/SwapBox/Search/index.tsx
  src/components/main/swap/SwapBox/SwapInput/index.scss
  src/components/main/swap/SwapBox/SwapInput/index.tsx
  src/components/main/swap/SwapBox/SwapSetting/index.scss
  src/components/main/swap/SwapBox/SwapSetting/index.tsx
  src/components/main/swap/SwapBox/index.scss
  src/components/main/swap/SwapBox/index.tsx
  src/components/main/swap/index.tsx
  src/components/mini/chart/index.scss
  src/config.ts
  src/interface.ts
  src/store/index.ts
  src/utils/func.ts
  src/utils/math.js
  src/xy-ui/components/xy-dialog.js
  src/xy-ui/iconfont/icon.svg
  stencil.config.ts
  yarn.lock
Due: eslint, stylelint, prettier

fix: docs
  docs/Guild.md
Due: none

fix: swap failed
  package.json
  src/abi/erc20ABI.json
  src/api/axios/index.ts
  src/api/ethereum/index.ts
  src/api/ethers/dodo.ts
  src/api/ethers/index.ts
  src/api/ethers/token.ts
  src/app/index.scss
  src/app/index.tsx
  src/assets/png/0x.png
  src/assets/png/1inch.png
  src/assets/png/dodo.png
  src/assets/png/pancake.png
  src/assets/png/paraSwap.png
  src/components/common/MyTab/index.tsx
  src/components/main/chart/index.scss
  src/components/main/chart/index.tsx
  src/components/main/header/index.tsx
  src/components/main/price/index.tsx
  src/components/main/swap/SwapBox/DealStatusBox/index.scss
  src/components/main/swap/SwapBox/DealStatusBox/index.tsx
  src/components/main/swap/SwapBox/Search/index.scss
  src/components/main/swap/SwapBox/Search/index.tsx
  src/components/main/swap/SwapBox/SwapSetting/index.scss
  src/components/main/swap/SwapBox/SwapSetting/index.tsx
  src/components/main/swap/SwapBox/index.scss
  src/components/main/swap/SwapBox/index.tsx
  src/components/main/zoom/index.scss
  src/components/main/zoom/index.tsx
  src/components/mini/index.scss
  src/config.ts
  src/index.html
  src/interface.ts
  src/store/index.ts
  src/styles/common.scss
  src/tokens/bsc.json
  src/tokens/default.json
  src/tokens/tokenlist-bsc.json
  src/utils/math.ts
  yarn.lock
Due: eslint, stylelint, prettier

update: README
  README.md
Due: none

feat: credit card
  README.md
  src/api/axios/url.ts
  src/api/ethers/dodo.ts
  src/app/index.tsx
  src/components.d.ts
  src/components/common/MyTab/index.tsx
  src/components/main/header/index.tsx
  src/components/main/index.tsx
  src/components/main/swap/CreditBox/index.tsx
  src/components/main/swap/SwapBox/SwapInput/index.tsx
  src/components/main/swap/SwapBox/index.tsx
  src/components/main/swap/index.scss
  src/components/main/swap/index.tsx
  src/components/mini/index.scss
  src/interface.ts
  src/store/index.ts
  src/styles/common.scss
  src/tokens/bsc.json
  src/utils/number.ts
Due: eslint, stylelint, prettier

feat: add cross-chain
  package.json
  src/abi/crossABI.json
  src/api/axios/url.ts
  src/app/index.tsx
  src/assets/chain/Aurora.svg
  src/assets/chain/BSC.svg
  src/assets/chain/Moonbeam.svg
  src/assets/chain/Moonriver.svg
  src/assets/chain/RPG.svg
  src/assets/chain/Rangers.svg
  src/assets/icon/icon.png
  src/components.d.ts
  src/components/common/MyTab/index.tsx
  src/components/main/header/index.scss
  src/components/main/header/index.tsx
  src/components/main/swap/CreditBox/index.scss
  src/components/main/swap/CreditBox/index.tsx
  src/components/main/swap/SwapBox/DealStatusBox/index.tsx
  src/components/main/swap/SwapBox/Search/index.tsx
  src/components/main/swap/SwapBox/SwapInput/index.scss
  src/components/main/swap/SwapBox/SwapInput/index.tsx
  src/components/main/swap/SwapBox/index.tsx
  src/components/main/swap/TransferBox/Search/index.scss
  src/components/main/swap/TransferBox/Search/index.tsx
  src/components/main/swap/TransferBox/index.scss
  src/components/main/swap/TransferBox/index.tsx
  src/components/main/swap/index.tsx
  src/components/main/zoom/index.scss
  src/components/main/zoom/index.tsx
  src/config.ts
  src/data/cross.json
  src/interface.ts
  src/manifest.json
  src/store/index.ts
  src/styles/common.scss
  src/tokens/bsc.json
  src/xy-ui/iconfont/icon.svg
  yarn.lock
Due: eslint, stylelint, prettier

fix build
  package.json
  src/components.d.ts
Due: eslint, prettier

Update README.md
  README.md
Due: none
